html{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4e9cd;
    
}

body{
    background-color: #9dbebb;
    padding: 20px;
    width: 920px;
    margin: 0 auto;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #031926;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #468189;
    color: white;
  }

  done{
    color: green;
    text-decoration: line-through;
  }

  inprogress{
    color: orangered;
  }
  footer {
    height: 100px;
    background: #eee;
  }

  simulationForm{
    background-color: #ddd;
    font-weight: 200;
    font-style: normal;
  }