<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css' ) }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <head>

    <meta charset="UTF-8" />
    <title>Home page</title> 
    </head>

    <div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="about">About</a>
        <a href="calculator">Calculator</a>
        <a href="Steps-to-Follow">Steps to Follow</a>
    </div>


    <body>
    <h1>Welcome to Our Site</h1>
    <h3> Welcome to our Monte Carlo Simulation </h3>

    <p>A Monte Carlo simulation is a mathematical technique that predicts possible outcomes
         of an uncertain event by generating N number of simulation with different variable factors
         determined by analyzing past data and predicting the likelihood of a range of outcomes.
    </p>

    </body>

   
    <h4> By Hamza, Dylan, Enric, Mani, Izzy </h4>
    
</html> 